<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Safe Fishing</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a routerLinkActive="active" class="nav-link fw-bold py-1 px-0" [routerLink]="['/home']">Home</a>
        <a routerLinkActive="active" class="nav-link fw-bold py-1 px-0" [routerLink]="['/aboutus']">About us</a>
        <a routerLinkActive="active" class="nav-link fw-bold py-1 px-0" [routerLink]="['/howtohelp']">How to Help</a>
      </nav>
    </div>
  </header>