p{
    text-align: justify;
}

iframe {
    display: flex;
    width: 100%;
    min-height: 600px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 5px 5px #222222);
  }